.Desktop2{
    width: 1440px; height: 3335px; position: relative; background: white
}

.Rectangle10{
    width: 1500px; height: 497px; left: -7px; top: -21px; position: absolute; background: #71B2FF" 
}

.Rectangle11{
    width: 2000px; height: 497px; left: -7px; top: -21px; position: absolute; background: #71B2FF
}

.Rectangle12{
    width: 1004px; height: 361px; left: 510px; top: 329px; position: absolute; background: #FCFCFC
}

.Rectangle13{
    width: 1004px; height: 46px; left: 510px; top: 644px; position: absolute; background: #71B2FF
}

.Rectangle20{
    width: 1950px; height: 106px; left: 0px; top: 0px; position: absolute; background: white
}

.Rectangle14{
    width: 1004px; height: 475px; left: 216px; top: 1109px; position: absolute; background: white
}

.Rectangle15{
    width: 455px; height: 177.56px; left: 535px; top: 1857.22px; position: absolute; background: #F8F8F8
}

.Rectangle16{
    width: 388px; height: 178px; left: 1090px; top: 1996px; position: absolute; background: #F6F6F6
}

.Line1{
    width: 728.03px; height: 0px; left: 1040px; top: 1856px; position: absolute; transform: rotate(89.45deg); transform-origin: 0 0; border: 0.50px #71B2FF solid
}

.Ellipse1{
    width: 15px; height: 16px; left: 1020px; top: 1884px; position: absolute; background: #6993FF; border-radius: 9999px
}

.Rectangle17{
    width: 456px; height: 176px; left: 535px; top: 2120px; position: absolute; background: #F6F6F6
}

.Rectangle18{
    width: 381px; height: 178px; left: 1090px; top: 2263px; position: absolute; background: #F1F1F1
}

.Rectangle19{
    width: 449px; height: 150px; left: 535px; top: 2385px; position: absolute; background: #F8F8F8
}

.Portofolio{
    left: 42px; top: 10px; position: absolute; color: black; font-size: 15px; font-family: 'Roboto', sans-serif; font-weight: 400; word-wrap: break-word
}

.Img20230506Wa00081{
    width: 243px; height: 362.07px; left: 510px; top: 329px; position: absolute
}

.ImSuciFirmanSyah{
    left: 800px; top: 350px; position: absolute; color: black; font-size: 15px;font-family: 'Fira Sans', sans-serif;; font-weight: 400; word-wrap: break-word
}

.Line2{
    width: 689px; height: 0px; left: 800px; top: 453px; position: absolute; border: 0.50px #77ADFF solid
}

.Rectangle21{
    width: 243px; height: 289px; left: 400px; top: 1235px; position: absolute
}

.Rectangle22{
    width: 270px; height: 289px; left: 900px; top: 1235px; position: absolute
}

.Rectangle23{
    width: 274px; height: 289px; left: 1400px; top: 1235px; position: absolute
}

.Ellipse3{
    width: 20px; height: 20px; left: 1040px; top: 2015px; position: absolute; background: #71B2FF; border-radius: 9999px
}

.Ellipse4{
    width: 20px; height: 20px; left: 1020px; top: 1880px; position: absolute; background: #71B2FF; border-radius: 9999px
}

.Ellipse5{
    width: 20px; height: 20px; left: 1020px; top: 2138px; position: absolute; background: #71B2FF; border-radius: 9999px
}

.Ellipse6{
    width: 20px; height: 20px; left: 1043px; top: 2276px; position: absolute; background: #71B2FF; border-radius: 9999px
}

.Ellipse7{
    width: 20px; height: 20px; left: 1023px; top: 2396px; position: absolute; background: #71B2FF; border-radius: 9999px
}

.Biodata{
    left: 1290px; top: 15px; position: absolute; color: black; font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; word-wrap: break-word
}

.Biodata1{
    left: 1700px; top: 15px; position: absolute; color: black; font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; word-wrap: break-word
}

.MyHobby1{
    left: 1500px; top: 15px; position: absolute; color: black; font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; word-wrap: break-word
}

.Education{
    left: 1044px; top: 29x; position: absolute; color: black; font-size: 32px;font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.AgeAddressPhoneScholl{
    left: 800px; top: 475px; position: absolute; color: black; font-size: 7px; font-family: 'Roboto', sans-serif; font-weight: 400; word-wrap: break-word
}

.Malang6289681475427SmkMuhammadiyah2KotaMalang{
    left: 950px; top: 475px; position: absolute; color: black; font-size: 7px;font-family: 'Roboto', sans-serif; font-weight: 400; word-wrap: break-word
}

.MyHobby{
    left: 925px; top: 968px; position: absolute; color: black; font-size: 40px;font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.HalHalYangSeringSayaLakukan{
    left: 869px; top: 1120px; position: absolute; color: black; font-size: 15px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.MembacaBukuA{
    left: 1500px; top: 1175px; position: absolute; color: black; font-size: 12px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.PlayGames{
    width: 96px; height: 92px; left: 1000px; top: 1175px; position: absolute; color: black; font-size: 15px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.Tidur{
    left: 490px; top: 1192px; position: absolute; color: black; font-size: 18px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.Education{
    left: 925px; top: 1672px; position: absolute; color: black; font-size: 40px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.Tk{
    left: 590px; top: 1860px; position: absolute; color: black; font-size: 20px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.PertamaKaliSayaMemasukiDuniaPendidikanTkSayaDiTkNurulHuda{
    left: 590px; top: 1940px; position: absolute; color: black; font-size: 12px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.MelanjutkanSmpDiMtsHassanudin{
    left: 590px; top: 2236px; position: absolute; color: black; font-size: 12px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.DanSekarangSayaBersekolahDiSmkMuhammadiyah2KotaMalang{
    left: 1110px; top: 2320px; position: absolute; color: black; font-size: 12px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.Sd{
    left: 1110px; top: 2009px; position: absolute; color: black; font-size: 20px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.Smp{
    left: 590px; top: 2130px; position: absolute; color: black; font-size: 20px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.Sma{
    left: 1110px; top: 2255px; position: absolute; color: black; font-size: 20px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.SemogaAja{
    left: 630px; top: 2390px; position: absolute; color: black; font-size: 32px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.MelanjutkanSdDiMinKlungkung{
    left: 1110px; top: 2112px; position: absolute; color: black; font-size: 12px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.SeorangPelajar{
    left: 800px; top: 417px; position: absolute; color: #71B2FF; font-size: 7px; font-family: 'Fira Sans', sans-serif; font-weight: 400; word-wrap: break-word
}

.Rectangle24{
    width: 2000px; height: 624px; left: 0px; top: 2711px; position: absolute; background: #71B2FF
}

.Line3{
    width: 982px; height: 0px; left: 52px; top: 2771px; position: absolute; border: 0.50px white solid
}

.Line4{
    width: 330px; height: 0px; left: 1335px; top: 2755px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px white solid
}

.Line5{
    width: 360.01px; height: 0px; left: 1379px; top: 2905px; position: absolute; transform: rotate(90.32deg); transform-origin: 0 0; border: 0.50px white solid
}

.nav1{
    position: fixed;
    
}
